@font-face {
    font-family: 'titleFont';
    src: url('../fonts/Kanit-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
body {
    height: 100%;
}
#content {
    height: 100%;
}
#header {
    font-family: 'titleFont';
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: darkcyan;
    color: white;
    height: 30%;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    font-size: 40px;
    align-items: center;
}
#logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
#img {
    height: 5%;
    width: 5%;
}
#icon {
    height: 55%;
    width: 51%;
}
#container {
    height: 70%;
    display: flex;
    flex-direction: row;
}
#sidebar {
    font-family: 'titleFont';
    background-color: lightgrey;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#button-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 71%;
}
#inbox-box, #today-box, #week-box {
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
    align-items: center;
}
#project-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 60%;
    margin-left: 5px;
    gap: 2rem;
}
#inbox, #today, #this-week, #add-project, #project-name {
    text-align: left;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    width: 100%;
    background-color: lightgray;
}
#add-task {
    width: 48px;
    text-align: center;
    border-radius: 0.5rem;
    background-color: darkcyan;
    color: white;
    font-size: 38px;
    font-family: 'titleFont';
    font-weight: 100;
    border: none;
    margin-right: 2rem;
}
#add-task:hover {
    cursor: pointer;
    background-color: rgb(19, 185, 185);
}
#inbox:hover, #today:hover, #this-week:hover, #add-project:hover, #project-name  {
    background-color: rgb(229, 229, 229);
    cursor: pointer;
}
#projects-header {
    font-size: 1.7rem;
}
#main-body {
    background-color: white;
    width: 85%;
    height: 100%;
}
.form-popup, .task-popup {
    background-color: lightgrey;
    width: 50%;
    height: 50%;
    gap: 20px;
    position: fixed;
    bottom: 50%;
    right: 50%;
    left: 30%;
    top: 30%;
    border-radius: 10px;
}
#form-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    background-color: lightgray;
}
#form-title, #task-title {
    font-family: "titleFont";
    font-size: 35px;
    text-align: start;
    padding: 10px;
}    
#projectName, #taskName {
    font-family: "titleFont";
    outline: none;
    width: 50%;
}
#projectHeader {
    text-align: center;
    padding: 2rem;
    font-family: 'titleFont';
    margin-right: 5rem;
}
input[type=text] {
    height: 25px;
    font-size: 16px;
    font-family: 'titleFont';
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    border: 0.2px solid black;
}
#submitButton, #close-form {
    font-family: "titleFont";
    width: 30%;
    height: 2rem;
    font-size: 1rem;
    font-weight: bolder;
}
#project-header {
    text-align: center;
    font-family: 'titleFont';
    padding: 2rem;
    font-size: 1.5rem;
}
.projectHeader{
    text-align: center;
    font-family: 'titleFont';
    padding: 2rem;
    font-size: 1.5rem;
}
#title-container, #description-container, #priority-container, #projects-container, #submit-container, #close-container {
    font-family: 'titleFont';
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5px;
    gap: 5px;
}
textarea {
    font-family: 'titleFont';
    height: 90px;
    font-size: 16px;
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    border: 0.2px solid black;
    overflow: auto;
}
select {
    height: 30px;
    font-size: 16px;
    font-family: 'titleFont';
}
#form-body {
    padding: 10px;
    width: 100%;
}
#task-body {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#task-container {
    padding: 15px;
    border-radius: 2px;
    font-family: 'titleFont'
}
#task-containers {
    font-family: 'titleFont';
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}
.form-pop {
    opacity: 50%;
    transition: opacity 0.2s ease-in-out;
}
.form-removed {
    opacity: 100%;
    transition: opacity 0.2s ease-in-out;
}
.task-popup {
    animation-duration: 0.5s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.task-popin {
    animation: 0.5s;
    animation-name: slideout;
}
@keyframes slideout {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}
#container_{
    display: flex;
    font-size: 19px;
    justify-content: space-between;
    height: 3rem;
    padding: 0.5rem;
    align-items: center;
    width: 80%;
}
#container_:hover {
    cursor: pointer;
}
#container-left{
    
}
#form-check {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#delete-button {

}
#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#collapse-container {
    padding: 0.5rem;
    width: 80%;
}
left-collapse-container {
    display: flex;
}
#left-collapse{
    display: flex;
    flex-direction: column;
    gap: 1rem;;
}
#collapse-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
    padding: 1rem;
    width: 55rem;
    border: 0.5px black solid;
}
#right-collapse-container, #left-collapse-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#right-collapse{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
#collapse-title-container, #collapse-description-container, #collapse-priority-container, #collapse-due-date-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 2rem;
    align-items: center;
}
#collapse-description-container{

}
#header-container {

}
.collapse-container-hidden {
    display: none;
}
.collapse-container-show {
    display: block;
    transition: all .5s ease-in-out;
}



