@font-face {
    font-family: 'titleFont';
    src: url('../fonts/Kanit-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
body {
    height: 100%;
}
#content {
    height: 100%;
}
#header {
    font-family: 'titleFont';
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: darkcyan;
    color: white;
    height: 30%;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    font-size: 40px;
    align-items: center;
}
#logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
#img {
    height: 5%;
    width: 5%;
}
#icon {
    height: 55%;
    width: 51%;
}
#container {
    height: 70%;
    display: flex;
    flex-direction: row;
}
#sidebar {
    font-family: 'titleFont';
    background-color: lightgrey;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#button-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 71%;
}
#inbox-box, #today-box, #week-box {
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
    align-items: center;
}
#project-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 60%;
    margin-left: 5px;
    gap: 2rem;
}
#inbox, #today, #this-week, #add-project {
    text-align: left;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bolder;
    width: 100%;
    background-color: lightgray;
}
#add-task {
    width: 48px;
    text-align: center;
    border-radius: 0.5rem;
    background-color: darkcyan;
    color: white;
    font-size: 38px;
    font-family: 'titleFont';
    font-weight: 100;
    border: none;
    margin-right: 2rem;
}
#add-task:hover {
    cursor: pointer;
    background-color: rgb(19, 185, 185);
}
#inbox:hover, #today:hover, #this-week:hover, #add-project:hover   {
    background-color: rgb(229, 229, 229);
    cursor: pointer;
}
#project-header {
    font-size: 1.7rem;

}
#main-body {
    background-color: white;
    width: 70%;
    height: 100%;
}
.form-popup {
    background-color: lightgrey;
    width: 50%;
    height: 50%;
    gap: 20px;
    position: fixed;
    bottom: 50%;
    right: 50%;
    left: 30%;
    top: 30%;
    transition: width 2s, height 4s;
}
#form-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;
}
#form-title {
    font-family: "titleFont";
    font-size: 35px;
    text-align: start;
    padding: 1rem;
}    
#projectName {
    font-family: "titleFont";
    outline: none;
    width: 50%;
}
input[type=text] {
    height: 25px;
    font-size: 20px;
    padding: 5px;
    text-align: left;
}
#submitButton, #close-form {
    font-family: "titleFont";
    width: 20%;
    height: 2rem;
    font-size: 1rem;
    font-weight: bolder;
}
.fade {
    transition: opacity .15s linear;
}
